@import './components/Colors.scss';
@import './components/Fonts.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
  color: $tan;
  font-family: $Quicksand;
  background-color: $dkGreen;
}

.nav_wrapper {
  height: 70px;
  width: 100%;
  background-color: $dkGreen;

  .nav_name {
    font-size: 2.1em;
    font-family: $Anton;
    padding-top: 10px;
    margin-left: 10px;
  }
  .fa-fish {
    color: $electricPink;
    font-size: 2em;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 25px;
  }

  .navbar {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 10%;
    background-color: $dkGreen;
    z-index: 10;

    .nav_ul {
      width: 200px;
      margin: 10px auto 15px auto;
      text-align: center;
      list-style: none;
      font-family: $Quicksand;
      text-transform: uppercase;
    }

    .nav_ul li {
      margin-bottom: 20px;
    }

    .nav_links {
      color: $desertSand;
      font-size: 0.9em;
      border-radius: 60px;
      letter-spacing: 1.6px;
      padding: 5px 8px;
    }

    .nav_links:hover {
      background-color: $tan;
      color: black;
      font-weight: 600;
    }
  }
}

.rotate {
  transform: rotate(180deg);
}

.active_nav {
  display: none;
}

.home_wrapper {
  padding: 10px;

  .h_p1 {
    font-size: 2.8em;
    text-align: center;
    margin-block: 15px;
    font-family: $Bebas;
    letter-spacing: 1.8px;
  }

  .hp1_line {
    height: 2px;
    width: 300px;
    background-color: $electricPink;
    margin: -20px auto;
  }

  .shapes {
    height: 375px;
    width: 375px;
    margin: 30px auto;
    position: relative;

    .shape1,
    .shape2,
    .shape3,
    .shape4 {
      position: absolute;
    }

    .shape1,
    .shape2 {
      height: 180px;
      width: 210px;
      background-color: $electricPink;
      z-index: 1;
      left: 90px;
    }

    .shape1 {
      top: 60px;
      border-radius: 50%;
    }
    .shape2 {
      top: 160px;
    }

    .shape3,
    .shape4 {
      height: 190px;
      width: 220px;
      background-color: $mustard;
      left: 50px;
    }
    .shape3 {
      border-radius: 50%;
      top: 20px;
    }
    .shape4 {
      top: 120px;
    }

    .my_img_wrapper {
      position: absolute;
      z-index: 10;
      left: 65px;
      top: 70px;
    }
  }

  .h_p2,
  .h_p3,
  .h_p4,
  .h_p5 {
    font-size: 1.1em;
  }

  .h_p2 {
    line-height: 30px;
  }

  .h_p3 {
    margin-block: 20px;
  }

  .fa {
    font-size: 1.8em;
    margin-left: 5px;
    margin-right: 5px;
  }

  .h_p4 {
    margin-top: 15px;
  }

  .h_portfolio_link,
  .h_contact_link {
    color: $tan;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
  }

  .h_about {
    font-size: 1.9em;
    font-family: $Anton;
    margin-bottom: 10px;
  }
  .about_line {
    height: 1px;
    width: 80px;
    background-color: $electricPink;
    margin-bottom: 20px;
    margin-left: 15px;
  }
}

.home_footer {
  position: relative;
  height: 140px;
  width: 100%;
  overflow: hidden;

  .triangle {
    margin-top: 10px;
    background-color: $dkGreen;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .triangle::before {
    content: '';
    height: 0;
    width: 0;
    left: 0;
    top: 40px;
    position: absolute;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-top: 80px solid $dkGreen;
  }

  .home_block {
    width: 100%;
    height: 100px;
    background-color: $mustard;
    position: absolute;
    bottom: 0;
  }

  .h_about {
    font-size: 1.9em;
    font-family: $Anton;
    margin-bottom: 10px;
  }
}

.contact_wrapper {
  .c_grid-item1 {
    text-align: center;
    margin: 20px 0;

    .cgi1_p1 {
      font-size: 2.1em;
      font-family: $Anton;
    }

    .cgi1_line {
      width: 155px;
      height: 1px;
      background-color: $electricPink;
      margin: 0 auto;
    }
  }

  .c_grid-item2 {
    height: 135px;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1.1px;

    .cgi2_icons {
      margin-right: 5px;
    }

    .cgi2_links {
      color: $tan;
    }
  }

  .c_grid-item2 p {
    margin: 20px 0;
  }

  .c_grid-item3 {
    .cgi3_line {
      height: 1px;
      width: 80%;
      margin: 10px auto;

      background-color: $electricPink;
    }
  }

  .c_grid-item4 {
    margin-bottom: 45px;
    .cgi4_form {
      width: 80%;
      margin: 0 auto 5px auto;

      .cgi4_input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 5px;
        font-size: 0.8em;
      }

      .cgi4_label {
        display: block;
        padding: 10px 12px 12px 0;
      }

      .cgi4_btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        background-color: $tan;
        font-size: 0.9em;
      }
    }
  }
}

.title {
  width: 200px;
  height: 75px;
  margin: 20px auto;
  text-align: center;

  .portfolio_title {
    font-size: 2.1em;
    font-family: $Anton;
  }
  .title_line {
    width: 100px;
    height: 1px;
    background-color: $mustard;
    margin: 0px auto;
  }
}

.portfolio_wrapper {
  margin-top: 50px;
  padding: 10px;
  letter-spacing: 0.8px;

  .p_grid {
    width: 300px;
    margin: 0 auto;

    .p_wrapper {
      margin-top: 5px;

      p {
        margin: 5px 0;
      }

      p:first-child {
        text-transform: uppercase;
      }

      .portfolio_link {
        color: $tan;
        text-decoration: underline;
      }
    }

    .p_grid-items {
      margin: 40px auto;
      border: 1px solid $dkGreen;
      padding: 7px;
      box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    }

    .portfolio_pics {
      width: 100%;
      height: 220px;
    }
  }

  .underline {
    text-decoration: underline;
  }
}

.portfolio_footer {
  position: relative;
  height: 140px;
  width: 100%;

  .triangle2 {
    margin-top: 10px;
    background-color: $dkGreen;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .triangle2::before {
    content: '';
    height: 0;
    width: 0;
    left: 0;
    top: 40px;
    position: absolute;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-top: 90px solid $dkGreen;
  }

  .portfolio_block {
    width: 100%;
    height: 100px;
    background-color: $electricPink;
    position: absolute;
    bottom: 0;
  }
}

.thanks {
  font-size: 4em;
  text-align: center;
  margin-top: 150px;
}

@media (min-width: 570px) {
  .home_footer {
    .triangle::before {
      border-left: 250px solid transparent;
      border-right: 250px solid transparent;
    }
  }
  .portfolio_footer {
    .triangle2::before {
      border-left: 250px solid transparent;
      border-right: 250px solid transparent;
    }
  }

  .portfolio_wrapper {
    .p_grid {
      width: 400px;
    }
  }
}

@media (min-width: 768px) {
  .home_wrapper {
    .h_p1 {
      font-size: 2.8em;
    }

    .hp1_line {
      width: 300px;
    }
  }
  .home_footer {
    .triangle::before {
      border-left: 280px solid transparent;
      border-right: 280px solid transparent;
    }
  }
  .portfolio_footer {
    .triangle2::before {
      border-left: 280px solid transparent;
      border-right: 280px solid transparent;
    }
  }
}

@media (min-width: 992px) {
  .nav_wrapper {
    .nav_name {
      font-size: 2.2em;
    }

    .fa-fish {
      display: none;
    }

    .navbar {
      height: 40px;
      width: 600px;
      top: 2%;
      left: 400px;
      display: block;

      .nav_ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }

      .nav_links {
        font-size: 1em;
        margin: 0 30px;
      }
    }
  }

  .home_footer {
    .triangle::before {
      border-left: 480px solid transparent;
      border-right: 480px solid transparent;
    }
  }

  .home_wrapper {
    display: grid;
    grid: 1fr 2fr / 1fr 1fr 2fr;

    .h_grid-item1 {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-left: 90px;
    }

    .h_p1 {
      font-size: 4.6em;
    }

    .hp1_line {
      width: 480px;
    }

    .h_p2 {
      font-size: 1.1em;
      padding: 5px;
    }

    .h_grid-item2 {
      grid-row-start: 1;
      grid-row-end: 3;

      .vertical_line {
        position: absolute;
        top: 22%;
        left: 20px;
        height: 35rem;
        width: 2px;
        background-color: $electricPink;
      }
    }

    .shapes {
      .shape1,
      .shape2 {
        left: 80px;
        height: 200px;
        width: 230px;
      }

      .shape3,
      .shape4 {
        left: 40px;
        height: 210px;
        width: 250px;
      }

      .shape1 {
        top: -60px;
      }

      .shape2 {
        top: 40px;
      }

      .shape3 {
        top: -90px;
      }
      .shape4 {
        top: 10px;
      }

      .my_img_wrapper {
        top: -50px;
        left: 55px;

        .my_img {
          width: 250px;
          height: 290px;
        }
      }
    }

    .h_grid-item4 {
      width: 600px;
    }
  }

  .contact_wrapper {
    display: grid;
    grid: 100px 2fr / 2fr 20px 2fr;
    margin-top: 50px;

    .c_grid-item1 {
      grid-column-start: 1;
      grid-column-end: 4;

      .cgi1_p1 {
        font-size: 2.6em;
        font-family: $Anton;
      }
      .cgi1_line {
        width: 175px;
        height: 1.5px;
        background-color: $electricPink;
      }
    }

    .c_grid-item3 {
      height: 500px;

      .cgi3_line {
        height: 30em;
        width: 1.5px;
        background-color: $electricPink;
      }
    }
  }

  .title {
    margin-top: 30px;

    .portfolio_title {
      letter-spacing: 1.1px;
      font-size: 2.4em;
    }
  }

  .portfolio_wrapper {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1;

    .pgi1_line,
    .pgi6_line {
      width: 1px;
      height: 750px;
      background-color: $mustard;
      margin: 90px auto 0 auto;
    }

    .p_grid {
      display: grid;
      grid: repeat(2, 1fr) / repeat(2, 1fr);
      width: 90%;
      gap: 20px;

      .p_wrapper {
        width: 400px;
      }

      .p_grid-item1,
      .p_grid-item6 {
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }

  .portfolio_footer {
    .triangle2::before {
      border-left: 480px solid transparent;
      border-right: 480px solid transparent;
    }
  }
}

@media (min-width: 1200px) {
  .nav_wrapper {
    .navbar {
      left: 52%;
    }
  }

  .home_wrapper {
    .h_p1 {
      text-align: left;
      margin-left: -80px;
    }

    .hp1_line {
      margin-left: -50px;
    }

    .h_grid-item4 {
      margin-left: 80px;
      margin-right: 50px;
    }
  }
}

@media (min-width: 1400px) {
  .home_wrapper {
    .shapes {
      .shape1,
      .shape2 {
        height: 220px;
        width: 250px;
      }

      .shape3,
      .shape4 {
        height: 230px;
        width: 260px;
      }

      .my_img_wrapper {
        .my_img {
          width: 270px;
          height: 310px;
        }
      }
    }

    .h_grid-item4 {
      margin-left: 150px;
      margin-right: 40px;
    }
  }

  .home_footer {
    .triangle::before {
      border-left: 500px solid transparent;
      border-right: 500px solid transparent;
    }
  }
  .portfolio_footer {
    .triangle2::before {
      border-left: 500px solid transparent;
      border-right: 500px solid transparent;
    }
  }
}
