@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Oswald:wght@300;400;600;700&family=Phudu&family=Quicksand:wght@400;600;700&family=Roboto+Condensed:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

$Anton: 'Anton', sans-serif;
$Bebas: 'Bebas Neue', sans-serif;

$Oswald: 'Oswald', sans-serif;
$DMS: 'DM Sans', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
$Roboto: 'Roboto Condensed', sans-serif;
